<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List API</title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
</head>
<body>
    <h1>TODOLIST API</h1>
    <p>Try <span>/api/task</span> or <span>/api/task/:id</span></p>
</body>
</html>